* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(254, 249, 243);
  /* background-color: antiquewhite; */
}

h2 {
  margin-top: 30px;
  text-align: center;
}

.checked {
  color: orange;
}
/* table,
th,
td {
  border: 1px solid;
} */

table {
  width: 80%;
  /* max-width: 400px; */
  /* height: 240px; */
  margin: 80px auto;
  /* display: block; */
  /* overflow-x: auto; */
  border-spacing: 0;
}

tbody {
  white-space: nowrap;
}

th,
td {
  padding: 10px 5px;
  border-top-width: 0;
  border-left-width: 0;
  text-align: center;
}

th {
  position: sticky;
  top: 0;
  background: #f07272;
  vertical-align: bottom;
}

th:last-child,
td:last-child {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

.salah {
  font-weight: bold;
}

input {
  width: 15px;
  height: 15px;
}
